engine-strict=true
trust-policy=any
pnpm.trust-downgrade-policy=any

# Font Awesome Pro registry
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
